.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    padding: 20px;
    z-index: 100;
  }
  
  .header.scrolled {
    background-color: #2c3e50; /* Новий колір фону */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }
  
  .trigger-element {
    height: 100vh; /* Елемент повинен бути нижче вьюпорту */
    margin-top: 500px; /* Додатковий простір для демонстрації */
  }