.map-text{
    border: 1px solid var(--dg-color-grey);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    font-weight: 300;

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 30px;
        padding: 20px 40px;
    }

    @media screen and (min-width: 1024px) {
        font-size: 20px;
        line-height: 25px;
    }
}
.two-columns-box{
    padding: 0;
}

.flex-column{
    flex-direction: column;

    .flex-element{
        justify-content: space-between;

        img{
           border-radius: 10px;
           width: 125px;
           height: auto;
           height: 100px;
        }


        .conteiner-wraper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            margin: 0;
            gap: 10px;

            .box-type-one{
                height: auto;
                width: auto;
                border: 0;
                padding: 0;
                gap: 10px;

                .icon{
                    max-width: 25px;
                    max-height: 25px;

                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
    
                .text{
                    font-size: 7px;
                    max-width: 100%;
    
                    .up-text{
                        .number{
                            font-size: 10px;
                            line-height: normal;
                        }
    
                        .units{
                            font-size: 7px;
                        }
                    }
    
                    .bottom-text{
                        margin: 0;

                        span{
                            font-size: 7px;
                            line-height: 10px;
                        }
                    }
                }
            }
        }
    }

    .line{
        width: 177px;
        height: 1px;
        background-color: var(--text-color-light-green);
        margin: 20px auto;
    }

    .flex-element{
        .element{
            font-size: 10px;
            line-height: 15px;
            text-align: justify;
            font-weight: 300;
        }
    }

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;

        .flex-element{
            gap:30px;

            img{
                width: 210px;
                height: 145px;
             }

             .conteiner-wraper{
                width: 250px;
    
                .box-type-one{
                    gap: 15px;

                    .icon{
                        max-width: 39px;
                        max-height: 39px;
                    }
        
                    .text{
                        font-size: 10px;
                        line-height: 15px;
                        max-width: 100%;
        
                        .up-text{
                            .number{
                                font-size: 14px;
                                line-height: normal;
                            }
        
                            .units{
                                font-size: 10px;
                            }
                        }
        
                        .bottom-text{
                            margin: 0;
    
                            span{
                                font-size: 10px;
                                line-height: 12px;
                            }
                        }
                    }
                }
            }
        }

        

        .line{
            width: 1px;
            height: 112px;
            margin: 0;
        }
    
        .flex-element{
            align-items: center;

            .element{
                display: flex;
                gap: 20px;
                font-size: 12px;
            }
        }
    }

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        justify-content: space-between;

        .flex-element{
            gap:30px;

            img{
                width: 331px;
                height: 228px;
             }

             .conteiner-wraper{
                width: 300px;
                gap: 30px;
    
                .box-type-one{
                    gap: 15px;

                    .icon{
                        max-width: 56px;
                        max-height: 56px;
                    }
        
                    .text{
                        font-size: 12px;
                        line-height: 18px;
                        max-width: 100%;
        
                        .up-text{
                            .number{
                                font-size: 18px;
                            }
        
                            .units{
                                font-size: 14px;
                            }
                        }
        
                        .bottom-text{
                            margin: 0;
    
                            span{
                                font-size: 14px;
                           }
                        }
                    }
                }
            }
        }

        .line{
            width: 1px;
            height: 177px;
            margin: 0;
        }
    
        .flex-element{
            .element{
                gap: 40px;
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
}