.feedback-bg{
    background-image: url(/img/imges/Feedback.png);
    background-position: 50% 43%;
    background-size: contain;
    background-repeat: no-repeat;

    .feedback{
        position: relative;
        padding: 20px 0;
    
        .text-box{
            padding: 20px 20px 40px 0;
    
            h3{
                padding-bottom: 20px;
                font-size: 20px;
                line-height: 24px;
                font-weight: 800;
            }
    
            h1{
                font-size: 42px;
                line-height: 50.4px;
                font-weight: 800;
            }
        }
    
        .description-box{
            background-color: #302633;
            padding: 68px 45px 20px 50px;
            display: grid;
            gap: 90px;
    
            p{
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;
            }
        
            h5{
                padding-top: 10px;
                font-size: 10px;
                line-height: 30px;
                font-weight: 500;
                font-style: italic;
            }
        
            .star-box{
                gap: 10px;
                padding: 6px 0 12px;
                list-style-type: none;
        
                .star {
                    width: 12px;
                    height: 12px;
                    background-color: #FFC300;
                    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                }
                  
            }
        
            .logo{
                height: 18.45px;
                margin: 0 0 12px;
        
                img{
                    height: 100%;
                    object-fit: contain;
                }
            }
        
            .point-box{
                gap: 10px;
                list-style-type: none;
    
                .point{
                    width: 10px;
                    height: 10px;
                    background-color: white;
                    border-radius: 50%;
    
                    &.active{
                        background-color: #D064A3;
                    }
                }
            }
        }
    
        .img-marks{
            display: none;
        }
    }

    @media screen and (min-width: $min-width-big){
        background-size: cover;

        .feedback{
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            align-items: center;
            padding: 200px 0;

            .description-box{
                padding: 90px 65px 34px;

                .point-box{
                    padding: 14px 0 66px 38px;
                }
            }

            .img-marks{
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        } 
    }
}