@media screen and (min-width: 1140px){
    #big{
        display: flex;
    }
    #top-menu-mobile{
        display: none;
    }
    body{
        max-width: 1440px;
    }
    .width{
        width: 90%;
    }
    /* + + */
    .botton-line-grid{
        background-size: 100% 100px;
    }
    .top-line-grid{
        background-size: 100% 100px;
    }
    .top-square-grid{
        background-size: 100% 100px;
    }
    .botton-square-grid{
        background-size: 100% 100px;
    }
    /* - - */
    
    
    /* + header + */
    .header-box{
        padding-block: 160px;
        gap: 32px;
    }
    .header-text-box{
        display: grid;
        gap: 16px;
    }
    /* - header - */
    
    /* + log-box + */
    .log-box{
        padding-block: 160px;
    }
    .log-box-grid{
        gap: 60px;
    }
    .log-content-box-grid{
        align-items: center;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }
    /* - log-box - */
    
    /* + overview + */
    
    .bg-img{
        padding-bottom: 251px;
    }
    .overview-box{
       position: relative;
    }
    .stats-box{
        position: absolute;
        top: -70%;
        padding: 55px 155px 55px 80px ;
    }
    .content-overview{
        grid-template-columns: 1fr 1fr;
    }
    .overview-img-box img{
        height: 409.1px;
        padding-block: 48.5px;
    }
    .symbols img{
        width: inherit;
        height: inherit;
        padding: 0;
    }
    .overview-text-box{
        padding-left: 78px;
    }
    /* - overview - */
    
    /* + Breakdown + */
    .breakdown-box{
        display: grid;
        gap: 60px;
        padding-block: 160px;
    }
    .breakdown-text{
        gap: 40px;
    }
    .breakdown-content-box{
        grid-template-columns: 1fr 1fr;

    }

    .breakdown-content{
        padding: 0 40px 66px 0;
    }
    .breakdown-content-bottom{
        padding: 0 40px 94px 0;
    }
    .breakdown-content-text{
        display: block;
        width: 184px;
        padding: 18px 40px;
    }
    /* - Breakdown - */
    
    /* + Speaker + */
    .speaker-grid-box{
        padding-block: 160px;
        gap: 40px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .speaker-text-box{
        padding-right: 80px;
        gap: 40px;
    }
    /* - Speaker - */
    
    /* + Sponsors + */
    .sponsors-grid{
        gap: 160px;
        padding-block: 160px;
    }
    .c-box{
        gap: 80px;
    }
    .sponsors-icon-box{
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 40px;
    }
    .sponsors-icon-box img{
        max-height: 85px;
    }
    #bc-high-sponsor{
        width: 217px;
        grid-column-start: span 2;
    }
    .partners-icon-box{
        display: flex;
        justify-content: space-evenly;
    }
    /* - Sponsors - */
    
    /* + footer-menu + */
    .footer-menu-section{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    /* - footer-menu - */


    /*  <+++ FAQs +++> */

    /* + faqs-list-conteiner + */
    .faqs-list-conteiner{
        padding-block: 160px;
    }
    .faqs-list-box{
        padding-inline: 190px;
    }

    /* - faqs-list-conteiner - */

        /*  <--- perss ---> */
    .press-box{
        grid-template-columns: 1fr 1fr 1fr;
    }
        /*  <--- perss ---> */

            /*  <--- speakers ---> */
    /* + speakers + */
    .headliners-content{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .spekers-content{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    /* - speakers - */
        /*  <--- speakers ---> */
    
}
