.statistics-wrap{
    position: relative;
    padding-top: 226px;

    p{
        text-align: center;
        font-weight: 500;
    }

    .statistics{
        padding-top: 10px;
        padding-bottom: 100px;

        .element{
            padding: 20px 0 25px;
            border-bottom: 1px solid $color-text;

            .text{
                position: relative;
                display: flex;
                align-items: start;
                justify-content: center;

                .numder{
                    font-family: $font-second;
                    font-size: 96px;
                    font-weight: 200;
                }

                .mark{
                    font-size: 50px;
                    font-weight: 200;
                }

                .stroke{
                    width: 182px;
                    height: 88px;
                    position: absolute;
                    top: 8px;
                    left: 50%;
                    transform: translate(-50%, 0);
                }

                .underline{
                    position: absolute;
                    bottom: -10px;
                    width: 138px;
                }

                .underline1{
                    position: absolute;
                    bottom: 0;
                    width: 114px;
                    transform: rotate(180deg);
                }
            }

            .descript{
                font-size: 30px;
            }
        }
    }
}


@media (min-width: $breakpoint-xl){
    .statistics-wrap{
        padding-top: 100px;
        padding-bottom: 70%;

        p{
            text-align: start;
        }

        .statistics{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-top: 30px;
            padding-bottom: 110px;

            .element{
                text-align: start;
                padding: 20px 0 25px;

                .text{
                    justify-content: start;

                    .numder{
                        font-size: 125px;
                    }

                    .mark{
                        font-size: 65px;
                    }

                    .stroke{
                        transform: translate(0,0);
                        width: 230px;
                        height: 120px;
                        left: -50px;
                    }

                    .underline{
                        left: -55px;
                        width: 171px;
                    }

                    .underline1{
                        left: -55px;
                        width: 155px;
                    }
                }

                .descript{
                    font-size: 30px;
                }
            }
        }

        
    }
}