:root{

    --font-main:"Bai Jamjuree", sans-serif;
    --font-paragraph: "Bai Jamjuree", sans-serif;
    --font-Button: "Bai Jamjuree", sans-serif;


    --dg-color-Blue: #01B2FD;
    --dg-color-Deep-Blue: #0E0D24;
    --dg-color-Fuschia: #DA3FCA;
    --dg-color-Off-White: #F6ECF4;
    --dg-color-Purple: #7960FF;
    
    --text-color-Blue: #01B2FD;
    --text-color-Deep-Blue: #0E0D24;
    --text-color-Fuschia: #DA3FCA;
    --text-color-Off-White: #F6ECF4;
    --text-color-Purple: #7960FF;
   
    --text-gradient: linear-gradient(to right, #68C9FF , #D45B9F)
}
h1, h2, h3, h4, h5, h6{
    font-size: var(--font-main);
    color: var(--text-color-Off-White);
}
h1{
    font-size: 20.00px;
    line-height: 24.00px;
}
h2{
    font-size: 18.00px;
    line-height: 20.00px;
}
h3{
    font-size: 16.00px;
    line-height: 18.00px;
}
h4{
    font-size: 14.00px;
    line-height: 16.00px;
}
h5{
    font-size: 12.00px;
    line-height: 14.00px;
}
h6{
    font-size: 10.00px;
    line-height: 12.00px;
}
.p-large{
    font-size: 9.00px;
    line-height: 14.00px;
    font-family: var(--font-paragraph);
    color: var(--text-color-Off-White);
}
p, button, li, a{
    font-size: 8.00px;
    line-height: 12.00px;
    font-family: var(--font-paragraph);
    color: var(--text-color-Off-White);
    text-decoration: none;
}
button{
    font-weight: 700;
}
li{
    color: var(--text-color-Fuschia);
}
span{
    color: var(--text-color-Off-White);
}
.width{
    width: 80%;
}
.flex-center-box{
    display: flex;
    align-items: center;
}
.flex-box-column{
    display: flex;
    flex-direction: column;
}
.flex-box-column-mobile{
    display: flex;
    flex-direction: column;
}
.big{
    display: none;
}
.margin-center{
    margin: 0 auto;
}
.pink-text{
    color: var(--text-color-Fuschia);
}
.text-box{
    gap: 8px;
}
/* + + */
body{
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    font-family: var(--font-paragraph);
    color: var(--text-color-Off-White);
}
.content{
    background: var(--dg-color-Deep-Blue);
}
.point{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-inline: 4px;
    background: var(--dg-color-Fuschia);
}
.botton-line-grid{
    background-image: url(/ADV_HTML/1.2-laba-BBW/img/SectionSeparator/Bottom\ Grid.png);
    background-size: 100% 100px;
    background-position: bottom;
    background-repeat: no-repeat;
}
.top-line-grid{
    background-image: url(/ADV_HTML/1.2-laba-BBW/img/SectionSeparator/Bottom\ Grid\ 180.png);
    background-size: 100% 100px;
    background-position: top;
    background-repeat: no-repeat;
}
.top-square-grid{
    background-image: url(/ADV_HTML/1.2-laba-BBW/img/SectionSeparator/Top\ Grid.png);
    background-size: 100% 100px;
    background-position: top;
    background-repeat: no-repeat;
}
.botton-square-grid{
    background-image: url(/ADV_HTML/1.2-laba-BBW/img/SectionSeparator/Top\ Grid\ 180.png);
    background-size: 100% 100px;
    background-position: bottom;
    background-repeat: no-repeat;
    rotate: (90deg);
}
/* - - */

/* + top-menu + */
.top-menu{
    padding-block: 10px;
    justify-content: space-between;
}
.main-button{
    padding: 8px 12px;
    background-color: var(--dg-color-Purple);
    border: 0;
    border-radius: 32px;
}
.logo{
    padding: 11px 29px;
    border: 1px dashed var(--dg-color-Blue);
    background: transparent;
}
.top-menu-list{
    gap: 62px;
}
.top-menu-list-icon{
   height: 16px;
   justify-content: space-between;
}
.white-line{
    width: 22px;
    height: 3px;
    background: var(--dg-color-Fuschia);
    border-radius: 32px;
}
/* - top-menu - */

/* + header + */
header{
    background-image: url(/ADV_HTML/1.2-laba-BBW/img/SectionSeparator/Bottom\ Grid.png);
    background-size: 100% 20%;
    background-position: bottom;
    background-repeat: no-repeat;

}
.header-box{
    align-items: center;
    gap: 12px;
    padding-block: 30px;
}
.header-text-box{
    align-items: center;
}
header .flex-center-box{
    justify-content: center;
}
/* - header - */

/* + log-box + */
.log-box{
    padding-block: 50px;
}
.log-box-grid{
    display: grid;
    gap: 30px;
}
.log-content-box-grid{
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 60px;
}

.grid-conversely{
}

.list-box{
    display: grid;
    gap: 10px;
}
/* - log-box - */

/* + overview + */
.overview{
    position: relative;
    padding-bottom: 80px;
}
.bg-img{
    height: 487px;
    padding-bottom: 251px;
}
.overview-box{
   position: relative;
}
.stats-box{
    position: absolute;
    top: -90%;

    display: grid;
    text-align: center;
    gap: 5px;
    padding-block: 55px;
    padding-inline: 150px 80px;
    background: var(--dg-color-Deep-Blue);
    border: 1px solid var(--dg-color-Blue);
}
.stats{
    display: flex;
    padding-top: 40px;
    justify-content: space-around;
}
.stats p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 200;
}
.stats-item p{
    font-weight: 700;
}
.content-overview{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
.overview-img-box{
    position: relative;
}
.overview-img-box img{
    height: 409.1px;
    padding-block: 48.5px;
}
.symbols{
    position: absolute;
    top: 45%;
    left: 45%;
}
.symbols img{
    width: inherit;
    height: inherit;
    padding: 0;
}
.overview-text-box{
    display: grid;
    padding-left: 78px;
    gap: 48px;
}
/* - overview - */

/* +  + */
.breakdown-box{
    display: grid;
    gap: 60px;
    padding-block: 160px;
}
.breakdown-text{
    display: grid;
    text-align: center;
    gap: 40px;
}
.breakdown-content-box{
    display: grid;
    grid-template-columns: 45.14% 45.14%;
    justify-content: space-between;
}
.breakdown-content-box img{
    width: 480px;
    height: 238px;
}

.breakdown-content{
    padding: 0 40px 66px 0;
    position: relative;
}
.breakdown-content-bottom{
    padding: 0 40px 94px 0;
}
.breakdown-content-text{
    width: 184px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 18px 40px;
    background: var(--dg-color-Deep-Blue);
    border: 1px solid var(--dg-color-Fuschia);
}
.breakdown-content-text p{
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}
.blue-text{
    color: var(--text-color-Blue);
}
/* -  - */

/* + Speaker + */
.speaker-grid-box{
    padding-block: 160px;
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 60px 40px;
}

.speaker-text-box{
    padding-right: 80px;
    display: grid;
    grid-column-start: span 2;
}
.speaker-grid-context{
    display: grid;
    gap: 20px;
}
.speaker-grid-context img{
    width: 100%;
}

/* - Speaker - */

/* + Sponsors + */
.sponsors-grid{
    display: grid;
    gap: 160px;
    padding-block: 160px;
}
.c-box{
    display: grid;
    justify-items: center;
    gap: 80px;
}
.sponsors-icon-box{
    width: 100%;
    display: grid;
    justify-items: center;
    gap: 40px;
}
.sponsors-icon-box img{
    max-height: 85px;
}
.sponsors-icon-cont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top{
    gap: 104px;
}
.midle{
    gap: 105px;
}
.bottom{
    gap: 59px;
    justify-content: center;
}
.community-partners{
    justify-content: space-evenly;
}
/* - Sponsors - */

/* + footer-menu + */
.footer-menu{
    display: flex;
    justify-content: space-between;
    padding-block: 100px;
}
.footer-menu-grid{
    display: grid;
    justify-items: left;
    align-items: start;
    gap: 20px;
}
.content-box{
    display: flex;
    align-items: flex-start;
    margin-right: 40px;
    gap: 12px;
}
.content-box img{
    padding-top: 5px;
}
.content-box p{
    width: 155px;
}
.footer-grid-cont{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.align-items-flex-end{
    align-items: flex-end;
}
.footer-menu-section{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-menu-section input{
    width: 278px;
    padding: 16px 25px;
    border-radius: 32px;
    background: transparent;
    border: 1px solid var(--dg-color-Purple);
    color: var(--text-color-Off-White);
    font-size: 16px;
    line-height: 24px;
}
.footer-menu-icon{
    display: flex;
    gap: 12px;
}
.gap-30{
    gap: 30px;
}
.gap-16{
    gap: 16px;
}
.column{
    flex-direction: column;
    align-items: flex-end;
}

.footer-text{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 24px;
    font-weight: 100;
}
.footer-text div{
    display: flex;
    gap: 20PX;
    text-decoration-line: underline;
}

/* - footer-menu - */




            /*  <+++ FAQs +++> */

/* + faqs-list-conteiner + */
.faqs-list-conteiner{
    padding-block: 160px;
}
.faqs-list-box{
    margin: 0 auto;
    padding-inline: 190px;
    padding-block: 20px 60px;
}
.faqs-list{
    border-bottom: 0.5px solid #f6ecf424;
}
.list-faqs-title{
    display: flex;
    justify-content: space-between;
    padding-block: 40px;
}
.button-chevron-closed, .button-chevron-open{
    background: transparent;
    border: 0;
}
.button-chevron-open{
    display: none;
}
.faqs-text{
    display: none;
    padding-bottom: 80px;
}
.active{
    display: block;
}

/* - faqs-list-conteiner - */

            /*  <--- perss ---> */
/* +  + */
.press-box{
    padding-block: 160px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.press-content{
    display: grid;
    border: 1px solid var(--dg-color-Blue);
    border-radius: 10px;
}
.press-img{
    width: 100%;
    position: relative;
}
.prass-watermark{
    position: absolute;
    top: 40%;
    left: 13%;

}
.press-text{
    padding: 40px;
    display: grid;
    gap: 30px;
}
/* -  - */
            /*  <--- perss ---> */

        /*  <--- speakers ---> */
/* + speakers + */
.speakers-box{
    padding-block: 160px;
}
.speakers-content{
    display: grid;
    gap: 40px;
}
.headliners-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px 40px;
}
.spekers-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px 40px;
}.speakers-item{
    width: 100%;
    display: grid;
    gap: 20px;
}
.spekers-img-box{
    width: 100%;
}
.spekers-img-box img{
    width: 100%;
}

/* - speakers - */
        /*  <--- speakers ---> */
/* +  + */
/* -  - */

/* +  + */
/* -  - */

/* +  + */
/* -  - */

/* +  + */
/* -  - */