.slider2-wrap{
    &.medical-difference-p{
        padding-top: 50px;
    }

        p{
            text-align: start;
        }
        .title{
            padding: 0 30px 30px;
        }

        .slider2{
            position: relative;
            overflow: hidden;

            &.slide-out {
                opacity: 0;
                transform: translateX(-50px);
            }

            &.slide-in {
                opacity: 1;
                transform: translateX(0);
            }

            img{
                width: 100%;
                max-height: 289px;
                object-fit: cover;
            }

            .element-box{
                display: flex;
                flex-direction: column;
                align-items: start;
                padding: 35px 30px 78px;

                .title{
                    display: none;
                }

                h3{
                    font-family: $font-second;
                    padding-bottom: 20px;
                }

                .point-wrap{
                    display: flex;
                    gap: 4px;
                    margin: 30px 0 40px;
                    opacity: 1 !important;

                    .point2{
                        border-radius: 50%;
                        padding: 5px;
                        border: 1px solid $color-text;
                    
                        &.active{
                            background-color: $color-text;
                        }
                    }

                }
                .button{
                    margin: 0;
                    gap: 30px;
                }
            }
        }
    }

    // @media (min-width: $breakpoint-xl){
    //     .slider2-wrap{
    //         position: relative;
    //         padding: 0 100px;
    //         margin-bottom: -66px;

    //         &.medical-difference-p{
    //             padding-top: 100px;
    //         }

    //         .title{

    //             display: none;
    //         }

    //         .slider2{
    //             margin-bottom: -66px;
    //             display: grid;
    //             grid-template-columns: 1fr 1fr;

    //             img{
    //                 height: 100%;
    //                 max-height: 100% !important;
    //             }

    //             .element-box{
    //                 padding: 0;
    //                 padding-bottom: 135px !important;
    //                 padding-left: 70px;
    //                 justify-content: space-between;

    //                 .title{
    //                     padding-left: 0;
    //                     display: block;
    //                 }

    //                 h3{
    //                     padding-bottom: 40px;
    //                 }

    //                 .point-wrap{
    //                     gap: 5px;
    //                     margin: 40px 0;

    //                     .point{
    //                         padding: 6px;
    //                         border: 2px solid $color-text;
    //                     }

    //                 }
    //                 .button{
    //                     gap: 40px;
    //                 }
    //             }
    //         }
    //     }
    // }

    @media (min-width: $breakpoint-xl){
        .medical-difference-slider{
            position: relative;
            height: 1150px;
        }
        .slider2-wrap{
            position: absolute;
            bottom: -66px;
            padding: 0 100px;

            .title{

                display: none;
            }

            .slider2{
                display: grid;
                grid-template-columns: 1fr 1fr;

                img{
                    height: 100%;
                    max-height: 1150px;
                    padding-right: 0px;
                }

                .element-box{
                    padding: 0;
                    padding-bottom: 135px;
                    padding-left: 70px;

                    .title{
                        padding-left: 0;
                        display: block;
                    }

                    h3{
                        padding-bottom: 40px;
                    }

                    .point-wrap{
                        gap: 5px;
                        margin: 40px 0;

                        .point{
                            padding: 6px;
                            border: 2px solid $color-text;
                        }

                    }
                    .button{
                        gap: 40px;
                    }
                }
            }
        }
    }   
    