@import "../common/variables";

.menu-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    .menu-he {
        padding: 30px 30px 10px;
        display: flex;
        justify-content: space-between;

        &.second-bg {
            background: transparent;
        }
    }

    &.scrolled-bg {
        background: $gradient-blue;

        .second-bg {
            background-image: url(/dist/images/bg/body.png);
            background-size: 100%;
            background-position: right;
        }
    }

    .elem-left {


        .logo {
            width: 136px;
        }
    }

    .elem-right {
        display: flex;
        align-items: start;

        ul {
            padding-top: 20px;
            display: none;
            list-style-type: none;

            .li {
                padding: 0 16px;
                color: $color-text;
                text-decoration: none;
            }
        }

        .button {
            padding: 20px;
            margin-left: 18px;
            border: 1px solid $color-text;
            border-radius: 5px;
            display: none;
            gap: 5px;
            font-family: $font-second;
            align-items: center;

            p {
                font-size: 16px;
                line-height: 16px;
                color: $color-text;
            }

            img {
                max-width: 17px;
                max-height: 17px;
            }
        }

        .drop-ul {

            &.menu-open::before {
                content: '';
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                z-index: 999;
                transition: 1s;
            }

            .logo {
                display: flex;
                flex-direction: column;
                height: 8px;
                justify-content: space-between;
                align-items: center;

                .line {
                    width: 38px;
                    height: 2px;
                    background-color: $color-text;
                }
            }

            .menu {
                position: absolute;
                top: -10000px;
                left: 0;
                width: 100%;
                height: 100vh;
                z-index: 1100;

                .bg-grid {
                    padding: 30px;
                    height: 100%;
                }

                &.active {
                    top: 0;
                }

                .logo-box {
                    display: flex;
                    align-items: start;
                    justify-content: space-between;

                    .logo {
                        width: 138px;
                        height: 62.03px;
                    }

                    .close {
                        position: relative;

                        div {
                            width: 40px;
                            height: 40px;
                            background-color: $color-text;
                            transition: .5s;

                            &.open {
                                transform: rotate(0deg) !important;
                            }
                        }

                        div:nth-of-type(1) {
                            position: absolute;
                            clip-path: polygon(98% 0, 100% 2%, 2% 100%, 0 98%);
                            transform: rotate(45deg);


                        }

                        div:nth-of-type(2) {
                            clip-path: polygon(0% 2%, 2% 0, 100% 98%, 98% 100%);
                            transform: rotate(-45deg);
                        }
                    }
                }

                ul {
                    padding: 0;
                    margin: 80px 0;
                    display: flex;
                    flex-direction: column;
                    list-style-type: none;

                    .li {
                        width: 100%;
                        padding: 15px 0;
                        font-size: 1.5rem;
                        border-top: 1px solid $color-text;
                    }
                }

                .button {
                    display: flex;
                    margin: 0;
                    justify-content: space-between;
                }

                .bg {
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;


                    img {
                        filter: opacity(0.2);
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

header {
    .header-main {
        background: #0000002c;
        height: 594px;
        width: 100%;
        position: relative;



        .img-center {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .img1 {
                max-width: 290.22px;
                transform: rotate(-11.48deg);
            }

            .img2 {
                max-width: 296.97px;
                transform: rotate(-12.44deg) translate(0, -12%);
                margin-left: 40px;
            }

            .img3 {
                max-width: 248.81px;
                transform: rotate(-11.16deg) translate(0, -30%);
                margin-left: 115px;
            }
        }



        .signature {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 90%;
            padding: 0 30px;

            padding-bottom: 40px;

            p {
                font-size: 16px;
                font-weight: 100;
                line-height: 25px;
                color: $color-text;
            }
        }
    }

    .bg-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media (min-width: $breakpoint-xl) {

    .menu-he {
        padding: 50px 50px 20px;

        .elem-left {
            margin-top: 5px;

            .logo {
                width: 165px;
            }
        }

        .elem-right {

            ul {
                display: flex;
            }

            .button {
                display: flex;
            }

            .drop-ul {
                display: none;
            }


        }
    }

    header {

        .header-main {
            height: 799px;

            .img-center {
                top: 60%;

                .img1 {
                    max-width: 643px;

                }

                .img2 {
                    max-width: 647px;
                    margin-left: 100px;
                    transform: rotate(-12.44deg) translate(0, -18%);
                }

                .img3 {
                    max-width: 551.25px;
                    margin-left: 260px;
                    transform: rotate(-12.44deg) translate(0, -40%);
                }
            }

            .signature {
                width: auto;
                left: 50%;
                transform: translate(-50%, 0);
                padding: 0;
                padding-bottom: 30px;

                p {
                    font-size: 26px;
                    line-height: 41px;
                }
            }
        }
    }
}