@import "../common/variables";

* {
    box-sizing: border-box;
    font-family: $font-main;
    font-weight: 400;
    font-style: normal;
    color: $color-text;
    transition: 0.6s;
}

body {
    background-color: #FFFCF2;
}

.content {
    position: relative;

    .bg-filt {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(/dist/images/bg/body.png);
        background-size: contain;
        background-repeat: repeat-y;
        opacity: 0.8;
        z-index: -1;
    }

    .bg-grid {
        // background-image: url(/dist/images/bg/body.png) !important;
        // background-size: 100% 100% !important;
        // background-repeat: repeat-y !important;
    }

}

.img-bottom {
    position: absolute;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.m-top {
    margin: 20px;
}

.m-auto {
    margin-left: auto;
    margin-right: auto;
}

.m-right {
    margin-right: 30px;
}

.m-left {
    margin-left: 30px;
}

.p-inline {
    padding-left: 30px;
    padding-right: 30px;
}

.p-buttom-s {
    padding-bottom: 30px;
}

.p-buttom-m {
    padding-bottom: 50px;
}

.m-inline {
    margin-left: 30px;
    margin-right: 30px;
}

.max-width {
    max-width: 1178px;
}

.m-auto {
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-second;
    font-weight: 300;
}

.align-items-end {
    align-items: end;
}

.align-items-start {
    align-items: start;
}

.align-content-space-between {
    align-content: space-between;
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 32px;

}

.parag {
    font-weight: 800;
}

p {
    font-size: 16px;
}

.black-bt {
    border: 1px solid $color-black !important;
}

.black-p {
    color: $color-black !important;
}

.bg-green {
    background: $gradient-green !important;
}

.bg-blue {
    background: $gradient-blue !important;
}

.grid-row-1 {
    grid-row: 1 / 2;
}

.text-fat {
    font-weight: 800;
}

.button {
    padding: 20px;
    border: 1px solid $color-text;
    border-radius: 5px;
    display: flex;
    gap: 5px;
    font-family: $font-second;
    align-items: center;

    p {
        font-size: 16px;
        line-height: 16px;
        color: $color-text;
    }

    img {
        padding: 0 !important;
        width: 17px !important;
        height: 17px !important;
    }
}





@media (min-width: $breakpoint-xl) {
    h1 {
        font-size: 118px;
    }

    h2 {
        font-size: 70px;
    }

    h3 {
        font-size: 60px;

    }

    h4 {
        font-size: 54px;

    }

    p {
        font-size: 19px;
    }

    .m-right {
        margin-right: 100px;
    }

    .m-left {
        margin-left: 100px;
    }

    .p-inline {
        padding-left: 100px;
        padding-right: 100px;
    }

    .m-inline {
        margin-left: 100px;
        margin-right: 100px;
    }
}

.paste {
    padding-top: 70px;
    padding-bottom: 60px;
    display: grid;
    justify-items: start;
    gap: 60px;
}