.map-text {
  border: 1px solid var(--dg-color-grey);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 10px;
  line-height: 15px;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .map-text {
    font-size: 16px;
    line-height: 30px;
    padding: 20px 40px;
  }
}
@media screen and (min-width: 1024px) {
  .map-text {
    font-size: 20px;
    line-height: 25px;
  }
}

.two-columns-box {
  padding: 0;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex-column .flex-element {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex-column .flex-element img {
  border-radius: 10px;
  width: 125px;
  height: auto;
  height: 100px;
}
.flex-column .flex-element .conteiner-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 0;
  gap: 10px;
}
.flex-column .flex-element .conteiner-wraper .box-type-one {
  height: auto;
  width: auto;
  border: 0;
  padding: 0;
  gap: 10px;
}
.flex-column .flex-element .conteiner-wraper .box-type-one .icon {
  max-width: 25px;
  max-height: 25px;
}
.flex-column .flex-element .conteiner-wraper .box-type-one .icon img {
  height: 100%;
  width: 100%;
}
.flex-column .flex-element .conteiner-wraper .box-type-one .text {
  font-size: 7px;
  max-width: 100%;
}
.flex-column .flex-element .conteiner-wraper .box-type-one .text .up-text .number {
  font-size: 10px;
  line-height: normal;
}
.flex-column .flex-element .conteiner-wraper .box-type-one .text .up-text .units {
  font-size: 7px;
}
.flex-column .flex-element .conteiner-wraper .box-type-one .text .bottom-text {
  margin: 0;
}
.flex-column .flex-element .conteiner-wraper .box-type-one .text .bottom-text span {
  font-size: 7px;
  line-height: 10px;
}
.flex-column .line {
  width: 177px;
  height: 1px;
  background-color: var(--text-color-light-green);
  margin: 20px auto;
}
.flex-column .flex-element .element {
  font-size: 10px;
  line-height: 15px;
  text-align: justify;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .flex-column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .flex-column .flex-element {
    gap: 30px;
  }
  .flex-column .flex-element img {
    width: 210px;
    height: 145px;
  }
  .flex-column .flex-element .conteiner-wraper {
    width: 250px;
  }
  .flex-column .flex-element .conteiner-wraper .box-type-one {
    gap: 15px;
  }
  .flex-column .flex-element .conteiner-wraper .box-type-one .icon {
    max-width: 39px;
    max-height: 39px;
  }
  .flex-column .flex-element .conteiner-wraper .box-type-one .text {
    font-size: 10px;
    line-height: 15px;
    max-width: 100%;
  }
  .flex-column .flex-element .conteiner-wraper .box-type-one .text .up-text .number {
    font-size: 14px;
    line-height: normal;
  }
  .flex-column .flex-element .conteiner-wraper .box-type-one .text .up-text .units {
    font-size: 10px;
  }
  .flex-column .flex-element .conteiner-wraper .box-type-one .text .bottom-text {
    margin: 0;
  }
  .flex-column .flex-element .conteiner-wraper .box-type-one .text .bottom-text span {
    font-size: 10px;
    line-height: 12px;
  }
  .flex-column .line {
    width: 1px;
    height: 112px;
    margin: 0;
  }
  .flex-column .flex-element {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flex-column .flex-element .element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    font-size: 12px;
  }
}
@media screen and (min-width: 1024px) {
  .flex-column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .flex-column .flex-element {
    gap: 30px;
  }
  .flex-column .flex-element img {
    width: 331px;
    height: 228px;
  }
  .flex-column .flex-element .conteiner-wraper {
    width: 300px;
    gap: 30px;
  }
  .flex-column .flex-element .conteiner-wraper .box-type-one {
    gap: 15px;
  }
  .flex-column .flex-element .conteiner-wraper .box-type-one .icon {
    max-width: 56px;
    max-height: 56px;
  }
  .flex-column .flex-element .conteiner-wraper .box-type-one .text {
    font-size: 12px;
    line-height: 18px;
    max-width: 100%;
  }
  .flex-column .flex-element .conteiner-wraper .box-type-one .text .up-text .number {
    font-size: 18px;
  }
  .flex-column .flex-element .conteiner-wraper .box-type-one .text .up-text .units {
    font-size: 14px;
  }
  .flex-column .flex-element .conteiner-wraper .box-type-one .text .bottom-text {
    margin: 0;
  }
  .flex-column .flex-element .conteiner-wraper .box-type-one .text .bottom-text span {
    font-size: 14px;
  }
  .flex-column .line {
    width: 1px;
    height: 177px;
    margin: 0;
  }
  .flex-column .flex-element .element {
    gap: 40px;
    font-size: 18px;
    line-height: 24px;
  }
}