@charset "UTF-8";
footer {
  position: relative;
  z-index: 2;
  height: 100%;
  height: 550px;
  width: 100%;
}
footer.gd-img {
  background-image: url(/ADV_HTML/5-HIGHBERRY/img/bg/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
footer .footer-wrap .foot-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 30px 0;
}
footer .footer-wrap .foot-top-right .regist-box {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  width: auto;
}
footer .footer-wrap .foot-top-right .regist-box .input-log {
  width: 100%;
  max-width: 380px;
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.3137254902);
  border: 0;
  font-size: 11px;
  font-weight: 300;
  margin-bottom: 7px;
}
footer .footer-wrap .foot-top-right .regist-box .input-log::-webkit-input-placeholder {
  color: #fff;
}
footer .footer-wrap .foot-top-right .regist-box .input-log::-moz-placeholder {
  color: #fff;
}
footer .footer-wrap .foot-top-right .regist-box .input-log:-ms-input-placeholder {
  color: #fff;
}
footer .footer-wrap .foot-top-right .regist-box .input-log::-ms-input-placeholder {
  color: #fff;
}
footer .footer-wrap .foot-top-right .regist-box .input-log::placeholder {
  color: #fff;
}
footer .footer-wrap .foot-top-right .regist-box .confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 15px;
  margin-top: 10px;
}
footer .footer-wrap .foot-top-right .regist-box .confirm .checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; /* Видаляє стандартний вигляд */
  padding: 5.679px;
  margin: 4px 0;
  accent-color: #ffffff; /* Колір галочки */
  border: 0; /* Колір рамки */
  background-color: rgba(255, 255, 255, 0.3137254902);
  position: relative; /* Для позиціонування галочки */
  cursor: pointer; /* Зміна курсора при наведенні */
}
footer .footer-wrap .foot-top-right .regist-box .confirm .checkbox:focus-visible {
  border: 0;
  opacity: 0;
}
footer .footer-wrap .foot-top-right .regist-box .confirm .checkbox:checked {
  background-color: #4A5547; /* Колір фону при виборі */
}
footer .footer-wrap .foot-top-right .regist-box .confirm .checkbox:checked::after {
  content: ""; /* Обов'язково для псевдоелемента */
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px; /* Ширина галочки */
  height: 4px; /* Висота галочки */
  border: solid white; /* Колір галочки */
  border-width: 0 2px 2px 0; /* Товщина ліній галочки */
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg); /* Центрування та поворот */
}
footer .footer-wrap .foot-top-right .regist-box .confirm .text {
  color: #fff;
  font-size: 10px;
}
footer .footer-wrap .foot-top-right .regist-box .confirm .text .text-top {
  margin-bottom: 5px;
}
footer .footer-wrap .foot-top-right .regist-box .batton-footer {
  padding: 7px 15px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-top: 15px;
  font-size: 10px;
  font-weight: 500;
  line-height: 120%;
}
footer .footer-wrap .foot-top-right .contact {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  color: #fff;
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
  padding: 15px 0;
}
footer .footer-wrap .foot-top-right .contact .cont-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}
footer .footer-wrap .foot-top-right .contact .cont-element div {
  display: -ms-grid;
  display: grid;
  justify-items: end;
}
footer .footer-wrap .foot-bottoon-left {
  display: -ms-grid;
  display: grid;
  padding: 0 20px;
}
footer .footer-wrap .foot-bottoon-left .logo-box {
  text-align: center;
  margin-top: 15px;
  color: #fff;
  font-weight: 400;
  line-height: 15px;
  padding: 0 20px;
}
footer .footer-wrap .foot-bottoon-left .logo-box img {
  max-height: 63px;
  height: 100%;
  width: auto;
  margin-bottom: 10px;
}
footer .footer-wrap .foot-bottoon-left .logo-box h3 {
  font-size: 14px;
  margin-bottom: 3px;
}
footer .footer-wrap .foot-bottoon-left .logo-box p {
  font-size: 10px;
}
footer .footer-wrap .foot-bottoon-left .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  color: #fff;
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
  padding: 15px 0;
}
footer .footer-wrap .foot-bottoon-left .contact .cont-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}
footer .footer-wrap .foot-bottoon-left .contact .cont-element div {
  display: -ms-grid;
  display: grid;
  justify-items: end;
}
footer .footer-wrap .foot-bottoon-left .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-wrap .foot-bottoon-left .menu .connt-element {
  display: -ms-grid;
  display: grid;
}
footer .footer-wrap .foot-bottoon-left .menu .connt-element a {
  color: #fff;
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
}
footer .footer-wrap .foot-bottoon-left .catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 10px;
  color: #fff;
  margin-top: 15px;
}
footer .footer-wrap .foot-bottoon-left .catalog img {
  margin-left: 5px;
  height: 100%;
  max-height: 12px;
}
footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3137254902);
  margin-top: 15px;
  padding: 0 20px;
}
footer .footer-menu span {
  font-size: 8px;
  line-height: 25px;
  font-weight: 400;
  color: #fff;
}
footer .compani-name {
  display: none;
  color: #fff;
  font-size: 24px;
  padding: 30px 48px;
  max-width: 1280px;
  margin: 0 auto;
}
footer .menu-big-up {
  display: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 48px 0;
  max-width: 1280px;
  margin: 0 auto;
  gap: 10px;
}
footer .menu-big-up .compani {
  color: #fff;
}
footer .menu-big-up .compani.h3 {
  font-size: 24px;
  margin: 30px 0;
}
footer .menu-big-up .compani p {
  font-size: 16px;
  line-height: 25px;
  max-width: 310px;
}
footer .menu-big-up .connt-element {
  display: -ms-grid;
  display: grid;
}
footer .menu-big-up .connt-element a {
  color: #fff;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}
footer .menu-big-up .contact {
  display: -ms-grid;
  display: grid;
  justify-items: end;
  color: #fff;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}
footer .menu-big-botton {
  display: none;
  padding: 10px 48px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
footer .menu-big-botton .menu {
  max-width: 890px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .menu-big-botton .menu .catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
}
footer .menu-big-botton .menu .catalog img {
  margin-left: 5px;
  height: 100%;
  max-height: 20px;
}
footer .menu-big-botton .menu .cont-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  color: #fff;
  font-size: 16px;
  line-height: 25px;
}
footer .eclipse {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

@media screen and (min-width: 768px) {
  footer {
    height: 488px;
  }
  footer .footer-wrap {
    -ms-grid-columns: 1fr 100px 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 30px 22px 0;
    gap: 100px;
  }
  footer .footer-wrap .foot-top-right {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  footer .footer-wrap .foot-top-right .regist-box .input-log {
    font-size: 13px;
    padding: 7.5px 13px;
    margin-bottom: 12px;
  }
  footer .footer-wrap .foot-top-right .regist-box .confirm {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  footer .footer-wrap .foot-top-right .regist-box .confirm .checkbox {
    padding: 9.5px;
    margin: 0;
  }
  footer .footer-wrap .foot-top-right .regist-box .confirm .checkbox:checked::after {
    width: 4px;
    height: 8px;
  }
  footer .footer-wrap .foot-top-right .regist-box .confirm .text {
    font-size: 11px;
    line-height: 15px;
    width: 70%;
  }
  footer .footer-wrap .foot-top-right .regist-box .batton-footer {
    font-size: 12px;
    padding: 10px 20px;
    margin-top: 20px;
  }
  footer .footer-wrap .foot-top-right .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 12px;
    line-height: 25px;
    padding: 30px 0 0;
  }
  footer .footer-wrap .foot-bottoon-left {
    padding: 0;
  }
  footer .footer-wrap .foot-bottoon-left .logo-box {
    margin-top: 0;
    padding: 0;
    text-align: start;
  }
  footer .footer-wrap .foot-bottoon-left .logo-box img {
    max-height: 167.5px;
    margin-bottom: 20px;
  }
  footer .footer-wrap .foot-bottoon-left .logo-box h3 {
    font-size: 20px;
    line-height: 25px;
  }
  footer .footer-wrap .foot-bottoon-left .logo-box p {
    font-size: 12px;
    line-height: 20px;
    max-width: 277px;
  }
  footer .footer-wrap .foot-bottoon-left .contact {
    display: none;
  }
  footer .footer-wrap .foot-bottoon-left .menu {
    margin-top: 30px;
  }
  footer .footer-wrap .foot-bottoon-left .catalog {
    margin-top: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  footer .footer-menu {
    margin-top: 30px;
    padding: 6px 22px;
  }
  footer .footer-menu span {
    font-size: 10px;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    height: 716px;
  }
  footer .footer-wrap {
    padding: 100px 48px 0;
    max-width: 1280px;
    margin: 0 auto;
    gap: 0px;
  }
  footer .footer-wrap .foot-top-right .regist-box .input-log {
    font-size: 16px;
    padding: 9.5px 13px;
    margin-bottom: 15px;
  }
  footer .footer-wrap .foot-top-right .regist-box .confirm {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  footer .footer-wrap .foot-top-right .regist-box .confirm .checkbox {
    padding: 11.5px;
    margin: 2px;
  }
  footer .footer-wrap .foot-top-right .regist-box .confirm .checkbox:checked::after {
    border-width: 0 4px 4px 0;
    -webkit-transform: translate(-50%, -70%) rotate(45deg);
            transform: translate(-50%, -70%) rotate(45deg);
  }
  footer .footer-wrap .foot-top-right .regist-box .confirm .text {
    font-size: 13px;
    max-width: 290px;
  }
  footer .footer-wrap .foot-top-right .regist-box .batton-footer {
    font-size: 12px;
    padding: 13px 30px;
    margin-top: 50px;
  }
  footer .footer-wrap .foot-top-right .contact {
    display: none;
  }
  footer .footer-wrap .foot-bottoon-left {
    padding: 0;
  }
  footer .footer-wrap .foot-bottoon-left .logo-box {
    margin-top: 0;
    padding: 0;
    text-align: start;
  }
  footer .footer-wrap .foot-bottoon-left .logo-box img {
    max-height: 294px;
    margin-bottom: 20px;
  }
  footer .footer-wrap .foot-bottoon-left .logo-box h3 {
    display: none;
  }
  footer .footer-wrap .foot-bottoon-left .logo-box p {
    display: none;
  }
  footer .footer-wrap .foot-bottoon-left .inf-box {
    display: none;
  }
  footer .footer-wrap .foot-bottoon-left .catalog {
    display: none;
  }
  footer .compani-name {
    display: block;
  }
  footer .menu-big-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .menu-big-botton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-menu {
    margin: 0px;
    padding: 10px 48px;
    max-width: 1280px;
    margin: 0 auto;
  }
  footer .footer-menu span {
    font-size: 12px;
    line-height: 25px;
  }
}