$mediaTabletMax: 768px;

.style-header{
    box-sizing: border-box;
    width: 100%;
    position: relative;
    top: 0;
    background-color: #fff;
    transition: 0.5s;
    z-index: 3;

    &.home-first{
        position: fixed !important; 
        background-color: transparent;
    }
    .header-melu-wrap{
        width: 100%;
        max-width: 980px;
        margin: 0 auto;
        padding: 6px 34px 6px 19px;
        
        @media screen and (min-width: 768px ){
            &{
                padding: 12px 34px 12px 34px;;
            }
        }

        .header-visibel-part{
            justify-content: space-between;

            .left-col{
                align-items: center;
                
                .logo{
                    height: 57.08px;

                    &.home-first{
                        .first-logo{
                            display: block;
                        }
                        .second-logo{
                            display: none;
                            height: 100%;
                        }
                    }

                    .first-logo{
                        display: none;
                        height: 100%;
                    }
                    .second-logo{
                        display: block;
                        height: 100%;
                    }
                    
                }

                .catalog{
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    color: var(--text-color-light-green);
                    margin-left: 30px;
                    transition: 0.5s;

                    &.home-first{
                        color: #fff;

                        .first-icon{
                            display: block;
                        }

                        .second-icon{
                            display: none;
                        }
                    }

                    img{
                        margin-left: 5px;
                        height: 100%;
                    }
                    .first-icon{
                        display: none;
                    }
                    .second-icon{
                        display: block;
                    }
                }

                @media screen and (min-width: 768px ){
                    &{
                        justify-content: space-between;
                        width: 30%;
                    }
                }
            }

            .right-col{ 
                align-items: center;
                justify-content: space-between;

                .social-networks-conteiner{
                    display: none;
                }

                .language-selector{
                    display: none;
                }
                .mobile-burger{
                    width: 23px;
                    height: 18px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
    
                    &.home-first{
                        .line{
                            background-color: #fff !important;
                        }
                    }
                    .line{
                        border-radius: 50px;
                        width: 100%;
                        height: 2px;
                        background-color: var(--text-color-light-green);
                        transition: 0.5s;
                    }
                }

                @media screen and (min-width: 768px ){
                    &{
                        width: 45%;
                    }

                    .language-selector{
                        display: flex;
                        align-items: center;

                        .language{
                            font-size: 16px;
                            color: var(--text-color-light-green);
                        }

                        .division{
                            height: 24px;
                            width: 1.5px;
                            border-radius: 5px;
                            margin: 0 20px 0 20px;
                            background-color: var(--dg-color-light-green);
                            transition: 0.5s;
                        }

                        &.home-first{
                            .language{
                                color: #fff ;
                            }

                            .division{
                                background-color: #fff !important;
                            }
                        }
                    }
                }
                @media screen and (min-width: 1024px ){
                    .social-networks-conteiner{
                        display: flex;
                        margin-right: 30px;

                        &.home-first{
                            .first-icon{
                                display: block !important;
                            }
                            .second-icon{
                                display: none;
                            }
                        }

                        .social-networks{
                            margin-right: 20px;

                            .first-icon{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .menu-wrapper{
            position: relative;
            
            &.offcanvas{
                background-color: #00000050;

                .menu{
                    transform: translate3d(0, 0, 0);
                    transition-duration: 0.7s;
                    transition-delay: 0.2s;
                }
            }
            .menu{
                height: 100%;
                width: 100%;
                max-width: 320px;
                position: fixed;
                z-index: 5;
                top: 0;
                right: 0;
                bottom: 0;
                background-color: #fff;
                overflow-x: hidden;
                transition: 0.5s;
                box-sizing: border-box;
                padding: 20px 30px 0 23px;
                transform: translate3d(100%, 0, 0);
                transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);

                @media screen and (min-width: 768px ){
                    &{
                        max-width: 406px;
                    }
                }

                .languages{
                    display: flex;
                    justify-content: space-between;

                    .language-selector{
                        display: flex;
                        align-items: center;

                        .language{
                            font-size: 16px;
                            color: var(--text-color-light-green);
                        }

                        .division{
                            height: 100%;
                            width: 1.5px;
                            border-radius: 5px;
                            margin: 0 20px 0 20px;
                            background-color: var(--dg-color-light-green);
                        }
                    }

                    .mobile-languge{
                        display: flex;
                        align-items: center;

                        img{
                            height: 17px;
                        }

                        .close-menu{
                            margin-left: 30px;
                        }
                    }
                }

                .menu-ul{
                    margin-top: 40px;
                    list-style-type: none;

                    .menu-item{
                        display: flex;
                        gap: 20px;
                        margin-bottom: 7px;
                        position: relative;
                        transform: translateX(calc(100% + 30px));
                        transition: transform 0.5s cubic-bezier(0.27, 0.59, 0.53, 0.88);

                        &.menuItemsAnima{
                            transform: translateX(0);
                        }
                        a{
                            color: var(--text-color-light-green);
                            font-size: 24px;
                            font-weight: 300;
                            transition: 0.3s
                        }
                    }
                }
                .phone-inf{
                    border-top: 1px solid var(--dg-color-light-green);
                    margin-top: 30px;
                    padding-top: 20px;

                    .contact{
                        flex-direction: column;

                        .con-item{
                            justify-content: space-between;
                            
                            &, a{
                                font-size: 16px;
                                line-height: 25px;
                                color: var(--text-color-light-green);
                            } 
                        }
                    }
                }
                
                .social-networks-conteiner{
                    margin-top: 20px;

                    .social-networks{
                        box-sizing: border-box;
                        margin-right: 20px;
                        height: 24px;

                        .first-icon{
                            display: none;
                        }
                    }
                }

                .catalog{
                    display: flex;
                    align-items: center;
                    margin-top: 20px;
                    color: var(--text-color-light-green);
                    
                    img{
                        margin-left: 5px;
                        height: 19px;
                    }
                }
            }
        }
    }
    .headel-menu-bg{
        position: fixed;
        inset: 0px;
        z-index: 1;
        background-color: #00000060;
        transition: background-color 0.5s ease;
    }
}