.head-cont{
    position: relative;
    padding-top: 250px;
    padding: 250px 20px 0;

    .head-bg{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 400px;
        width: 100%;

        img{
            height: 100%;
            width: 100%;
        }
    }

    .inform-box{
        position: relative;
        padding: 30px 15px;
        background-color: #fff;
        border: 1px solid var(--dg-color-light-gray);
        border-radius: 10px;
        max-width: 869px;
        margin: 0 auto;
        text-align: center;
        opacity: 0;
        transform: translateY(150px);
        transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1.000);

        &.animated {
            opacity: 1;
            transform: translateY(0);
          }
        h3{
            color: var(--dg-color-light-green);
            font-weight: 500;
        }

        .line{
            width: 100%;
            max-width: 200px;
            height: 1.5px;
            background-color: var(--dg-color-light-green);
            margin: 15px auto 10px;
        }

        p{
            font-size: 10px;
            line-height: 15px;
            font-weight: 300;
        }

        .conteiner-wraper{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 1.5rem;
    
            .box-type-one{
                border: 0;
                display: flex;
                align-items: center;
                justify-content: start;
                width: 100%;
                height: auto;
                max-width: 168px;
                margin: 0 auto;
                border-radius: 10px;
                gap: 10px;
        
                .icon{
                   width: 35.3px; 
    
                   img{
                    width: 100%;
                   }
                }
                
                .text{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: left;
                    max-width: 65%;
        
                    .up-text{
        
                        .number{
                            font-size: 16px;
                            font-weight: 600;
                        }
                        .units{
                            font-size: 10px;
                            font-weight: 500;
                        }
                    }
    
                    .bottom-text{
    
                        span{
                            font-size: 10px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px){
    .head-cont{
        padding: 150px 40px 0;

        .head-bg{
            height: 240px;
        }

        .inform-box{
            padding: 30px;

            h3{
                font-size: 40px;
            }

            .line{
                max-width: 300px;
            }

            p{
                font-size: 16px;
                line-height: 25px;
            }

            .conteiner-wraper{
                padding: 20px 0 0;
                flex-direction: row;
                justify-content: space-between;

                .box-type-one{
                    width: 100%;
                    max-width: 230px;
                    gap: 20px;
                    justify-content: center;
    
                    .icon{
                        width: 39.79px; 
                    }
                     
                    .text{
                        max-width: 65%;
             
                         .up-text{
                             .number{
                                 font-size: 20px;
                             }
                             .units{
                                 font-size: 11px;
                             }
                         }
         
                         .bottom-text{
                            margin: 0;
    
                             span{
                                 font-size: 11px;
                             }
                         }
                     }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px){
    .head-cont{
        padding: 320px 0 0;

        .head-bg{
            height: 450px;
        }

        .inform-box{
            padding: 30px;

            h3{
                font-size: 48px;
            }

            .line{
                margin: 20px auto 30px;
                max-width: 570px;
            }

            p{
                font-size: 20px;
                line-height: 30px;
            }

            .conteiner-wraper{
                flex-direction: row;
                justify-content: space-between;

                .box-type-one{
                    width: 100%;
                    height: auto;
                    max-width: 230px;
                    gap: 20px;
                    padding: 0;
    
                    .icon{
                        width: 55.8px; 
                    }
                     
                    .text{
                        max-width: 65%;
             
                         .up-text{
                             .number{
                                 font-size: 20px;
                             }
                             .units{
                                 font-size: 12px;
                             }
                         }
         
                         .bottom-text{
                            margin-top: 4px;
    
                             span{
                                 font-size: 12px;
                             }
                         }
                     }
                }
            }
        }
    }
}