:root {
  --main-fons: "Roboto", sans-serif;
  --second-fons: "Roboto", sans-serif;
  --text-color-dark-gray: #666769;
  --text-color-light-green: #6AB354;
  --text-color-dark-green: #3A7611;
  --text-color-grey: #DDDEDF;
  --text-color-light-gray: #EDECEC;
  --text-color-white-gray: #F8F8F8;
  --dg-color-dark-gray: #666769;
  --dg-color-light-green: #6AB354;
  --dg-color-dark-green: #3A7611;
  --dg-color-grey: #DDDEDF;
  --dg-color-light-gray: #EDECEC;
  --dg-color-white-gray: #F8F8F8;
  --dg-color-white: #F5F5F5;
  --border-color-information: #E3DED9;
}

* {
  font-family: var(--main-fons);
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.upertext {
  text-transform: uppercase;
}

.bg-col-page {
  background-color: var(--dg-color-white);
}

.top-margin {
  margin: 40px 0 0;
}

.top-margin-small {
  margin: 20px 0 0;
}

.mar-auuto {
  margin-left: auto;
  margin-right: auto;
}

sup {
  font-size: 0.6rem;
  vertical-align: super;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 46px;
  }
  h3 {
    font-size: 32px;
  }
}
.link-more {
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  font-size: 10px;
  font-weight: 500;
  line-height: 120.2%;
  color: var(--dg-color-light-green);
}
.link-more .arrow {
  width: 17px;
  height: 8px;
  background-image: url(/ADV_HTML/5-HIGHBERRY/img/icon/Arrow_more_mob.png);
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .link-more {
    font-size: 14px;
  }
  .link-more .arrow {
    width: 27px;
    background-image: url(/ADV_HTML/5-HIGHBERRY/img/icon/Arrow_more_teb.png);
  }
}

.con-max-width {
  width: 100%;
  max-width: 940px;
  padding: 0 34px;
}
.con-max-width h2 {
  text-align: center;
  color: var(--dg-color-light-green);
}
.con-max-width .conteiner-wraper {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}
.con-max-width .conteiner-wraper .box-type-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 277.85px;
  height: 115px;
  border: 1px solid var(--dg-color-light-gray);
  border-radius: 10px;
  padding: 0px 10px 0 10px;
  gap: 30px;
}
.con-max-width .conteiner-wraper .box-type-one .icon {
  width: 52px;
}
.con-max-width .conteiner-wraper .box-type-one .icon img {
  width: 100%;
}
.con-max-width .conteiner-wraper .box-type-one .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 65%;
}
.con-max-width .conteiner-wraper .box-type-one .text .up-text .number {
  font-size: 24px;
  font-weight: 600;
}
.con-max-width .conteiner-wraper .box-type-one .text .up-text .units {
  font-size: 14px;
  font-weight: 500;
}
.con-max-width .conteiner-wraper .box-type-one .text .bottom-text {
  margin-top: 4px;
}
.con-max-width .conteiner-wraper .box-type-one .text .bottom-text span {
  font-size: 14px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .con-max-width .conteiner-wraper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .con-max-width .conteiner-wraper .box-type-one {
    width: 100%;
    max-width: 230px;
    height: 87.85px;
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .con-max-width .conteiner-wraper .box-type-one .icon {
    width: 39.79px;
  }
  .con-max-width .conteiner-wraper .box-type-one .text {
    max-width: 65%;
  }
  .con-max-width .conteiner-wraper .box-type-one .text .up-text .number {
    font-size: 20px;
  }
  .con-max-width .conteiner-wraper .box-type-one .text .up-text .units {
    font-size: 11px;
  }
  .con-max-width .conteiner-wraper .box-type-one .text .bottom-text {
    margin: 0;
  }
  .con-max-width .conteiner-wraper .box-type-one .text .bottom-text span {
    font-size: 11px;
  }
}
@media screen and (min-width: 1024px) {
  .con-max-width .conteiner-wraper .box-type-one {
    max-width: 290px;
    height: 120.56px;
  }
  .con-max-width .conteiner-wraper .box-type-one .icon {
    width: 54.6px;
  }
  .con-max-width .conteiner-wraper .box-type-one .text {
    max-width: 70%;
  }
  .con-max-width .conteiner-wraper .box-type-one .text .up-text .number {
    font-size: 24px;
  }
  .con-max-width .conteiner-wraper .box-type-one .text .up-text .units {
    font-size: 14px;
  }
  .con-max-width .conteiner-wraper .box-type-one .text .bottom-text {
    margin-top: 3px;
  }
  .con-max-width .conteiner-wraper .box-type-one .text .bottom-text span {
    font-size: 14px;
  }
}

.layout-wrapper .top-margin .mar-auuto.con-max-width .map-cont {
  margin: 0;
  padding: 0;
}
.layout-wrapper .top-margin .mar-auuto.con-max-width .map-cont .map {
  display: block;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .layout-wrapper .top-margin .mar-auuto.con-max-width .map-cont {
    margin: 0 20px;
  }
}
@media screen and (min-width: 1024px) {
  .layout-wrapper .top-margin .mar-auuto.con-max-width .map-cont {
    margin: 0 40px;
  }
}

.dubel-colum-text-wrap .text-element {
  font-size: 10px;
  line-height: 16px;
  font-weight: 300;
  text-align: justify;
}
@media screen and (min-width: 768px) {
  .dubel-colum-text-wrap {
    -ms-grid-columns: 1fr 31px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 31px;
       -moz-column-gap: 31px;
            column-gap: 31px;
  }
  .dubel-colum-text-wrap .text-element {
    font-size: 16px;
    line-height: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .dubel-colum-text-wrap {
    -webkit-column-gap: 52px;
       -moz-column-gap: 52px;
            column-gap: 52px;
  }
}

.carousel-conte {
  display: -ms-grid;
  display: grid;
}
.carousel-conte .img-cont {
  height: 200px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: background-image 0.4s cubic-bezier(0.16, 0.19, 0.43, 0.81);
  transition: background-image 0.4s cubic-bezier(0.16, 0.19, 0.43, 0.81);
}
.carousel-conte .menu {
  padding: 20px;
  background-color: var(--dg-color-light-gray);
}
.carousel-conte .menu h2 {
  color: var(--text-color-light-green);
}
.carousel-conte .menu .carousel-ul {
  margin-top: 15px;
}
.carousel-conte .menu .carousel-ul .carousel-item {
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0 0 0 25px;
  font-size: 20px;
  font-weight: 300;
  position: relative;
}
.carousel-conte .menu .carousel-ul .carousel-item .carousel-title {
  font-size: 20px;
  font-weight: 300;
}
.carousel-conte .menu .carousel-ul .carousel-item .marcer-cont {
  height: 100%;
  position: absolute;
  top: 5px;
  left: 0px;
}
.carousel-conte .menu .carousel-ul .carousel-item .marcer-cont .point {
  padding: 4px;
  border-radius: 50%;
  border: 1px solid var(--dg-color-light-green);
}
.carousel-conte .menu .carousel-ul .carousel-item .marcer-cont .line {
  position: absolute;
  top: 9px;
  left: 3.5px;
  height: 0;
  width: 2px;
  background-color: var(--dg-color-light-green);
  -webkit-transition: 1s;
  transition: 1s;
}
.carousel-conte .menu .carousel-ul .carousel-item .drop-menu {
  margin-top: 5px;
  display: none;
}
.carousel-conte .menu .carousel-ul .carousel-item .drop-menu p {
  font-size: 10px;
  line-height: 16px;
  font-weight: 300;
}
.carousel-conte .menu .carousel-ul .carousel-item.open .marcer-cont .point {
  background-color: var(--dg-color-light-green);
}
.carousel-conte .menu .carousel-ul .carousel-item.open .marcer-cont .line {
  height: calc(100% - 9px);
}
.carousel-conte .menu .carousel-ul .carousel-item.open .drop-menu {
  display: block;
}
@media screen and (min-width: 768px) {
  .carousel-conte {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .carousel-conte .img-cont {
    height: auto;
  }
  .carousel-conte .menu {
    padding: 30px;
  }
  .carousel-conte .menu .carousel-ul {
    margin-top: 20px;
  }
  .carousel-conte .menu .carousel-ul .carousel-item {
    margin: 0 0 15px 0;
  }
  .carousel-conte .menu .carousel-ul .carousel-item .marcer-cont .point {
    padding: 5.5px;
  }
  .carousel-conte .menu .carousel-ul .carousel-item .marcer-cont .line {
    top: 12px;
    left: 5px;
  }
  .carousel-conte .menu .carousel-ul .carousel-item .drop-menu p {
    font-size: 12px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .carousel-conte .menu {
    padding: 50px 60px;
  }
  .carousel-conte .menu .carousel-ul {
    margin-top: 20px;
  }
  .carousel-conte .menu .carousel-ul .carousel-item {
    margin: 0 0 20px 0;
    padding: 0 0 0 55px;
  }
  .carousel-conte .menu .carousel-ul .carousel-item .carousel-title {
    font-size: 28px;
  }
  .carousel-conte .menu .carousel-ul .carousel-item .marcer-cont .point {
    padding: 8px;
  }
  .carousel-conte .menu .carousel-ul .carousel-item .marcer-cont .line {
    top: 18px;
    left: 8px;
  }
  .carousel-conte .menu .carousel-ul .carousel-item .drop-menu {
    margin-top: 10px;
  }
  .carousel-conte .menu .carousel-ul .carousel-item .drop-menu p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 5px;
  }
}

.products-map-cont {
  display: -ms-grid;
  display: grid;
  gap: 50px;
}
.products-map-cont .map {
  height: 153px;
  width: 100%;
  background-image: url(/ADV_HTML/5-HIGHBERRY/img/image/map-products.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.products-map-cont .products-icon {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1f)[5];
  grid-template-columns: repeat(5, 1f);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.products-map-cont .products-icon .icon {
  height: 2rem;
}
.products-map-cont .products-icon .icon .icon1 {
  width: 100%;
  height: 100%;
  background-image: url(/ADV_HTML/5-HIGHBERRY/img/icon/pineapple.png);
  background-size: contain;
  background-repeat: no-repeat;
}