:root{
    --main-fons: "Roboto", sans-serif;
    --second-fons: "Roboto", sans-serif;

    --text-color-dark-gray: #666769;
    --text-color-light-green: #6AB354;
    --text-color-dark-green: #3A7611;
    --text-color-grey: #DDDEDF;
    --text-color-light-gray: #EDECEC;
    --text-color-white-gray: #F8F8F8;

    --dg-color-dark-gray: #666769;
    --dg-color-light-green: #6AB354;
    --dg-color-dark-green: #3A7611;
    --dg-color-grey: #DDDEDF;
    --dg-color-light-gray: #EDECEC;
    --dg-color-white-gray: #F8F8F8;
    --dg-color-white: #F5F5F5;

    --border-color-information: #E3DED9;
}

$mediaTabletMax: 768px;

*{
    font-family: var(--main-fons);
    font-weight: 400;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

.upertext{
    text-transform: uppercase;
}

.bg-col-page{
    background-color: var(--dg-color-white);
}

.top-margin{
    margin: 40px 0 0;
}
.top-margin-small{
    margin: 20px 0 0;
}

.mar-auuto{
    margin-left: auto;
    margin-right: auto;
}

sup{
    font-size: 0.6rem;
    vertical-align: super;
}

h1{
    font-size: 28px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    h1{
        font-size: 48px;
    }
    h2{
        font-size: 32px;
    }
    h3{
        font-size: 32px;
    }
}
@media screen and (min-width: 1024px) {
    h1{
        font-size: 48px;
    }
    h2{
        font-size: 46px;
    }
    h3{
        font-size: 32px;
    }
}
   

.link-more{
    margin-top: 4px;
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 10px;
    font-weight: 500;
    line-height: 120.2%;
    color: var(--dg-color-light-green);

    .arrow{
        width: 17px;
        height: 8px;
        background-image: url(/ADV_HTML/5-HIGHBERRY/img/icon/Arrow_more_mob.png);
        background-repeat: no-repeat;
    }

    @media screen and (min-width: 768px) {
        &{
            font-size: 14px;
        }

        .arrow{
            width: 27px;
            background-image: url(/ADV_HTML/5-HIGHBERRY/img/icon/Arrow_more_teb.png);
        }
    }
}




.con-max-width{
    width: 100%;
    max-width: 940px;
    padding: 0 34px;    


    h2{
        text-align: center;
        color: var(--dg-color-light-green);
    }

    .conteiner-wraper{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        .box-type-one{
            display: flex;
            align-items: center;
            justify-content: start;
            width: 277.85px;
            height: 115px;
            border: 1px solid var(--dg-color-light-gray);
            border-radius: 10px;
            padding: 0px 10px 0 10px;
            gap: 30px;
    
            .icon{
               width: 52px; 

               img{
                width: 100%;
               }
            }
            
            .text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: 65%;
    
                .up-text{
    
                    .number{
                        font-size: 24px;
                        font-weight: 600;
                    }
                    .units{
                        font-size: 14px;
                        font-weight: 500;
                    }
                }

                .bottom-text{
                    margin-top: 4px;

                    span{
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }
        }

        @media screen and (min-width: 768px) {
            &{
                flex-direction: row;
                justify-content: space-between;
            }
            
            .box-type-one{
                width: 100%;
                max-width: 230px;
                height: 87.85px;
                gap: 20px;
                justify-content: center;

                .icon{
                    width: 39.79px; 
                }
                 
                .text{
                    max-width: 65%;
         
                     .up-text{
                         .number{
                             font-size: 20px;
                         }
                         .units{
                             font-size: 11px;
                         }
                     }
     
                     .bottom-text{
                        margin: 0;

                         span{
                             font-size: 11px;
                         }
                     }
                 }
            }
        }

        @media screen and (min-width: 1024px) {
            .box-type-one{
                max-width: 290px;
                height: 120.56px;

                .icon{
                    width: 54.6px; 
                }
                 
                .text{   
                    max-width: 70%;

                     .up-text{
                         .number{
                             font-size: 24px;
                         }
                         .units{
                             font-size: 14px;
                         }
                     }
     
                     .bottom-text{
                        margin-top: 3px;

                         span{
                             font-size: 14px;
                         }
                     }
                 }
            }
        }
    }
}

.layout-wrapper{
    .top-margin{
        .mar-auuto.con-max-width{
            .map-cont{
                margin: 0;
                padding: 0;

                .map{
                    display: block;
                    width: 100%;
                    height: auto;
                }

                @media screen and (min-width: 768px) {
                    &{
                        margin: 0 20px;
                    }
                }
    
                @media screen and (min-width: 1024px) {
                    &{
                        margin: 0 40px;
                    }
                }
            }
        }
    }
}



.dubel-colum-text-wrap{
    .text-element{
        font-size: 10px;
        line-height: 16px;
        font-weight: 300;
        text-align: justify;
    }

    @media screen and (min-width: 768px) {
        &{
            grid-template-columns: 1fr 1fr;
            column-gap: 31px;
        }
        
        .text-element{
            font-size: 16px;
            line-height: 25px;
        }
        .link-more{
            
        }
    }

    @media screen and (min-width: 1024px) {
        &{
            column-gap: 52px;
        }
    }
}



.carousel-conte{
    display: grid;

    .img-cont{
        height: 200px; 
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        transition: background-image 0.4s cubic-bezier(0.16, 0.19, 0.43, 0.81);
    }

    .menu{
        padding: 20px;
        background-color: var(--dg-color-light-gray);

        h2{
            color: var(--text-color-light-green);
        }

        .carousel-ul{
            margin-top: 15px;

            .carousel-item{
                list-style-type: none;
                margin: 0 0 10px 0;
                padding: 0 0 0 25px;
                font-size: 20px;
                font-weight: 300;
                position: relative;

                .carousel-title{
                    font-size: 20px;
                    font-weight: 300;
                }
                
                .marcer-cont{
                    height: 100%;
                    position: absolute;
                    top: 5px;
                    left: 0px;

                    .point{
                        padding: 4px;
                        border-radius: 50%;
                        border: 1px solid var(--dg-color-light-green);
                    }
                    .line{
                        position: absolute;
                        top: 9px;
                        left: 3.5px;
                        height: 0;
                        width: 2px;
                        background-color: var(--dg-color-light-green);
                        transition: 1s;
                    }
                }

                .drop-menu{
                    margin-top: 5px;
                    display: none;

                    p{
                        font-size: 10px;
                        line-height: 16px;
                        font-weight: 300;
                    }
                }

                &.open{
                    .marcer-cont{
                        .point{
                            background-color: var(--dg-color-light-green);
                        }
                        .line{
                            height: calc(100% - 9px);
                        }
                    }
                    .drop-menu{
                        display: block;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 768px) {
        &{
            grid-template-columns: 1fr 1fr;

            .img-cont{
                height: auto;
            }
            
            .menu{
                padding: 30px;

                .carousel-ul{
                    margin-top: 20px;

                    .carousel-item{
                        margin: 0 0 15px 0;

                        .marcer-cont{
                            
                            .point{
                                padding: 5.5px;
                            }

                            .line{
                                top: 12px;
                                left: 5px;
                            }
                        }

                        .drop-menu{
                            p{
                                font-size: 12px;
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: 1024px) {
        &{
            .menu{
                padding: 50px 60px;

                .carousel-ul{
                    margin-top: 20px;

                    .carousel-item{
                        margin: 0 0 20px 0;
                        padding: 0 0 0 55px;

                        .carousel-title{
                            font-size: 28px;
                        }

                        .marcer-cont{
                            .point{
                                padding: 8px;
                            }

                            .line{
                                top: 18px;
                                left: 8px;
                            }
                        }

                        .drop-menu{
                            margin-top: 10px;

                            p{
                                font-size: 16px;
                                line-height: 25px;
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}




.products-map-cont{
    display: grid;
    gap: 50px;

    .map{
        height: 153px;
        width: 100%;
        background-image: url(/ADV_HTML/5-HIGHBERRY/img/image/map-products.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .products-icon{
        display: grid;
        grid-template-columns: repeat(5, 1f);
        justify-content: space-around;

        .icon{
            height: 2rem;

            .icon1{
                width: 100%;
                height: 100%;
                background-image: url(/ADV_HTML/5-HIGHBERRY/img/icon/pineapple.png);
                background-size: contain;
                background-repeat: no-repeat;
                
            }

            .icon2{
                
            }

            .icon3{
                
            }

            .icon4{
                
            }

            .icon5{
                
            }

            .icon6{
                
            }

            .icon7{
                
            }

            .icon8{
                
            }

            .icon9{
                
            }
            
            .icon10{
                
            }
        }
    }
}