.filter-wrap {
  position: relative;
}
.filter-wrap img {
  max-width: 30px;
}
.filter-wrap .line {
  height: 1px;
  width: 100%;
  background-color: var(--dg-color-light-green);
  margin-top: 5px;
}
.filter-wrap .filter-menu {
  position: absolute;
  top: 55px;
  z-index: 3;
  background-color: #fff;
  padding: 10px;
  border: 1px solid var(--dg-color-light-green);
}
.filter-wrap .filter-menu.active {
  position: absolute;
  top: 0px;
  visibility: hidden;
}
.filter-wrap .filter-menu .filter-element {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5px;
}
.filter-wrap .filter-menu .filter-element .filter-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  margin-bottom: 5px;
}
.filter-wrap .filter-menu .filter-element .filter-elem a {
  color: var(--dg-color-light-green);
  font-size: 16px;
}
.filter-wrap .filter-menu .filter-element .filter-elem img {
  width: 10px;
}
.filter-wrap .filter-menu .filter-element .filter-drop-menu {
  opacity: 0;
  visibility: hidden;
  height: 100%;
  max-height: 0;
  margin-left: 10px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  list-style-type: none;
}
.filter-wrap .filter-menu .filter-element .filter-drop-menu.open {
  opacity: 1;
  visibility: visible;
  max-height: 100%;
}
.filter-wrap .filter-menu .filter-element .filter-drop-menu .filter-element-drop {
  margin-bottom: 5px;
}
.filter-wrap .filter-menu .filter-element .filter-drop-menu .filter-element-drop a {
  color: var(--dg-color-light-green);
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .filter-wrap img {
    max-width: 45px;
  }
  .filter-wrap .filter-menu {
    top: 70px;
    padding: 20px;
  }
  .filter-wrap .filter-menu .filter-element {
    margin-bottom: 7px;
  }
  .filter-wrap .filter-menu .filter-element .filter-elem {
    margin-bottom: 7px;
  }
  .filter-wrap .filter-menu .filter-element .filter-elem a {
    font-size: 18px;
  }
  .filter-wrap .filter-menu .filter-element .filter-drop-menu {
    margin-left: 11px;
  }
  .filter-wrap .filter-menu .filter-element .filter-drop-menu .filter-element-drop {
    margin-bottom: 10px;
  }
  .filter-wrap .filter-menu .filter-element .filter-drop-menu .filter-element-drop a {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .filter-wrap img {
    max-width: 70px;
  }
  .filter-wrap .filter-menu {
    top: 100px;
    padding: 20px;
  }
  .filter-wrap .filter-menu .filter-element {
    margin-bottom: 15px;
  }
  .filter-wrap .filter-menu .filter-element .filter-elem {
    margin-bottom: 15px;
  }
  .filter-wrap .filter-menu .filter-element .filter-elem a {
    font-size: 22px;
  }
  .filter-wrap .filter-menu .filter-element .filter-elem img {
    width: 15px;
  }
  .filter-wrap .filter-menu .filter-element .filter-drop-menu {
    margin-left: 11px;
  }
  .filter-wrap .filter-menu .filter-element .filter-drop-menu .filter-element-drop {
    margin-bottom: 15px;
  }
  .filter-wrap .filter-menu .filter-element .filter-drop-menu .filter-element-drop a {
    font-size: 20px;
  }
}