.layout-wrapper .video-full-screen {
  background-color: #000;
  position: relative;
}
.layout-wrapper .video-full-screen .video-wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.layout-wrapper .video-full-screen .video-wrap .video-bg {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.layout-wrapper .video-full-screen .video-wrap .button-wrap {
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.layout-wrapper .video-full-screen .video-wrap .button-wrap .button-video {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid #fff;
  gap: 20px;
}
.layout-wrapper .video-full-screen .video-wrap .button-wrap .button-video img {
  max-width: 41px;
}
.layout-wrapper .video-full-screen .video-wrap .button-wrap .button-video span {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
}
.layout-wrapper .video-full-screen .video-wrap .button-wrap .button-down {
  display: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #fff;
}
@media screen and (min-width: 768px) {
  .layout-wrapper .video-full-screen .video-wrap .button-wrap .button-down {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .layout-wrapper .video-full-screen .video-wrap .button-wrap .button-video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.layout-wrapper .video-full-screen .video-wrap .content-wrap {
  position: absolute;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  bottom: 0%;
  left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 2rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.layout-wrapper .video-full-screen .video-wrap .content-wrap .logo {
  display: none;
  max-width: 15rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.layout-wrapper .video-full-screen .video-wrap .content-wrap .logo img {
  width: 100%;
}
.layout-wrapper .video-full-screen .video-wrap .content-wrap h1 {
  font-size: 2rem;
  font-weight: 300;
  max-width: 15rem;
  color: #fff;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
@media screen and (min-width: 768px) {
  .layout-wrapper .video-full-screen .video-wrap .content-wrap {
    bottom: auto;
    top: 50%;
    left: 5%;
  }
  .layout-wrapper .video-full-screen .video-wrap .content-wrap .logo {
    display: block;
  }
  .layout-wrapper .video-full-screen .video-wrap .content-wrap h1 {
    font-size: 3.5rem;
    line-height: 4.4rem;
    max-width: 26.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .layout-wrapper .video-full-screen .video-wrap .content-wrap {
    left: 10%;
  }
  .layout-wrapper .video-full-screen .video-wrap .content-wrap .logo {
    max-width: 16.2rem;
  }
}