.two-columns-box{
    gap: 30px;

    .inf-wrap{
        position: relative;
        text-align: center;
        background-color: #fff;
        border: 1px;
        margin: 0 auto;
        padding: 20px 15px 30px;
        border-radius: 10px;
        max-width: 280px;
    
        .logo{
            position: absolute;
            top: 0px;
            left: 50%;
            transform: translate(-50%, -50%);
            
    
            img{
                max-width: 35.7px;
            }
        }
    
        h3{
            font-size: 12px;
            line-height: 30px;
            color: var(--dg-color-light-green);
        }
    
        .line{
            height: 1px;
            width: 100%;
            max-width: 116px;
            margin: 0px auto 10px;
            background-color: var(--dg-color-light-green);
        }
    
        p{
            font-size: 10px;
            line-height: 16px;
            font-weight: 300;
            text-align: justify;
        }
    }
    @media screen and (min-width: 768px){
        padding: 0;

        .inf-wrap{
            margin: 0 auto;
            padding: 40px 30px 40px;
            border-radius: 10px;
            max-width: 100%;

            .logo{
                img{
                    max-width: 46.23px;
                }
            }
        
            h3{
                font-size: 19px;
                line-height: 26.4px;
                margin-bottom: 10px;
            }

            p{
                font-size: 12px;
                line-height: 19.9px;
            }
        }
    }

    @media screen and (min-width: 1024px){
        padding: 0;
        gap: 80px 50px;

        .inf-wrap{
            margin: 0 auto;
            padding: 60px 30px 60px;
            border-radius: 10px;

            .logo{
                img{
                    max-width: 70px;
                }
            }
        
            h3{
                font-size: 28px;
                line-height: 40px;
                margin-bottom: 10px;
            }

            p{
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
}


.summary-wrap{
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
    background-color: #fff;
    font-weight: 300;
    font-size: 10px;
    border-radius: 10px;
    max-width: 280px;
    margin: 0 auto;

    .line{
        width: 100%;
        max-width: 166px;
        height: 1px;
        background-color: var(--dg-color-light-green);
        margin: 15px auto;
    }

    .flex-summary-element{
        .logo-wrap{
            display: none;
        }

        h3{
            color: var(--dg-color-light-green);
        }
    
        .input-wrap{
            display: grid;
            gap: 10px;
    
            .input{
                font-size: 10px;
                border: 1px solid var(--dg-color-light-green);
                border-radius: 5px;
                padding: 4px 8px;
            }
            
            .attach{
                display: flex;
                margin-top: 7px;
                gap: 4px;
                font-weight: 300;
    
                img{
                    max-width: 11px;
                }
            }
    
            .button-send{
                width: 100%;
                max-width: 105px;
                margin: 0 auto;
                border-radius: 5px;
                border: 1px solid var(--dg-color-light-green);
                padding: 4px;
            }
        }
    }

    .summary-element{
        .grin-text{
            color: var(--dg-color-light-green);
            margin-bottom: 20px;
        }
    
        .contact-box{
            flex-direction: column;
            gap: 20px;
            line-height: 15px;
        }
    }

    

    @media screen and (min-width: 768px) {
        font-size: 12px;
        max-width: 100%;
        flex-direction: column;
        padding: 60px 40px 30px 40px;
        gap: 40px;

        .line{
            display: none;
        }
        
        .flex-summary-element{
            padding-right: 70px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo-wrap{
                display: flex;
                align-items: center;
                gap: 80px;
                max-height: 150px;

                img{
                    height: 100%;
                }
            }

            .section-line{
                height: 145px;
                width: 1px;
                background-color: var(--dg-color-light-green);
            }
            .input-wrap{
                display: grid;
                gap: 10px;

    
                h3{
                    font-size: 20px;
                    line-height: 26.3px;
                    color: var(--dg-color-light-green);
                }
        
                .line{
                    display: block;
                    width: 100%;
                    margin: 0 auto 5px;
                }
        
                .input{
                    font-size: 10px;
                    border: 1px solid var(--dg-color-light-green);
                    border-radius: 5px;
                    padding: 4px 8px;
                }
                
                .attach{
                    display: flex;
                    margin-top: 7px;
                    gap: 4px;
                    font-size: 10px;
    
                    img{
                        max-width: 9px;
                    }
                }
    
                .button-send{
                    font-size: 10px;
                    max-width: 91px;
                    padding: 2px;
                }
            }
        }  

        .summary-element{
            align-items: end;

            .grin-text{
                color: var(--dg-color-light-green);
                margin-bottom: 20px;
            }
    
            .contact-box{
                flex-direction: row;
                justify-content: center;
                gap: 60px;
                line-height: 18.4px;
            }
        }
    }


    @media screen and (min-width: 1024px) {
        font-size: 20px;
        max-width: 100%;
        flex-direction: column;
        padding: 60px 40px 30px 40px;
        gap: 40px;

        .line{
            display: none;
        }
        
        .flex-summary-element{
            padding-right: 140px;

            .logo-wrap{
                max-height: 100%;
                img{
                    height: 250px;
                }
            }

            .section-line{
                height: 220px;
            }

            .input-wrap{
                h3{
                    font-size: 28px;
                    line-height: 40px;
                }
        
                .line{
                    margin: 10px auto 20px;
                    max-width: 220px;
                }
        
                .input{
                    padding: 7px 8px;
                }
                
                .attach{
                    margin-left: 20px;
                    gap: 7px;
    
                    img{
                        max-width: 14px;
                    }
                }
    
                .button-send{
                    max-width: 113px;
                    padding: 5px;
                    margin-top: 7px;
                }
            }
        }  

        .summary-element{
            .contact-box{
                gap: 90px;
                line-height: 28px;
            }
        }
    }
}

